@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
// Colors
$color-primary: #233043;
$color-secondary: #00000029;
$color-tertiary: #44546a;
$color-quaternary: #8a8a8a;
$color-quinary: #ffffff;
$color-senary: #fcdb10;
$color-septenary: #f4f4f4;
$color-octonary: #303030;
$color-nonary: #5a6472;
$color-denary: #535f6f;

// Animations
$animation-basic-primary: 0.3s ease-in all;

// Utitlity's
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

li {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

button {
  border: none;
  outline: none;
}

body {
  background-color: $color-primary;
}

.force-show {
  display: flex !important;
}
// Order Conformation Container
.order-deliveryInfo-container {
  max-width: 1340px;
  margin: auto;
  // background-color: $color-primary;
  min-height: 120vh;
  //   Order deliveryInfo header container
  .order-deliveryInfo-header-container {
    // Main header
    .order-deliveryInfo-header-title {
      background-color: $color-senary;
      margin-top: 112px;
      height: 96px;
      display: flex;
      justify-content: center;
      align-items: center;

      h1 {
        color: $color-primary;
        font-size: 32px;
        font-weight: bold;
        line-height: 43px;
        text-transform: uppercase;
        margin: 0;
        padding: 25px 0 28px;
      }
    }
    // Breadcrums container
    .order-deliveryInfo-header-breadcrums-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      // Breadcrums
      .order-deliveryInfo-header-breadcrums {
        display: flex;
        // background-color: magenta;
        margin: 14px 0 16px;
        h3 {
          color: $color-quaternary;
          font-size: 12px;
          line-height: 16px;
          margin-right: 8px;
          font-weight: normal;
          transition: $animation-basic-primary;
          &.currentPage {
            color: $color-quinary;
            cursor: pointer;
          }
          &.availablePage {
            cursor: pointer;
            &:hover {
              color: $color-quinary;
            }
          }
        }
      }
      .order-deliveryInfo-header-breadcrums-button {
        button {
          // height: 48px;
          // width: 101px;
          border: none;
          outline: none;
          color: $color-quinary;
          // background-color: $color-tertiary;
          background-color: transparent;
          transition: $animation-basic-primary;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          h4 {
            font-size: 12px;
            // text-transform: uppercase;
            line-height: 16px;
            font-weight: normal;
          }
          i {
            font-size: 12px;
            margin-right: 5px;
            line-height: 16px;
          }
          &:hover {
            color: $color-quaternary;
          }
        }
      }
    }
  }
  // Addresses and summary container
  .order-deliveryInfo-body-container {
    display: flex;
    gap: 13px;

    // Addresses selection view container
    .order-deliveryInfo-addresses-container {
      // background-color: $color-quinary;
      width: 857px;
      height: fit-content;
      display: none;
      flex-direction: column;
      gap: 10px;
      // padding: 29px 0;

      // Address add container
      .order-deliveryInfo-address-add {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 29px;
        background-color: $color-quinary;
        // padding: 0 29px;
        h3 {
          font-size: 17px;
          margin: 0;
          text-transform: uppercase;
          color: $color-primary;
        }
        button {
          height: 48px;
          width: 210px;
          border: none;
          outline: none;
          color: $color-primary;
          background-color: $color-senary;
          transition: 0.3s ease-in all;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          h4 {
            font-size: 12px;
            text-transform: uppercase;
            line-height: 16px;
          }
          i {
            font-size: 14px;
            margin-right: 5px;
            line-height: 16px;
          }
          &:hover {
            background-color: $color-primary;
            color: $color-quinary;
          }
        }
      }
      // Address info and choice
      .order-deliveryInfo-address-card-container {
        background-color: $color-quinary;
        // height: 210px;
        padding: 29px 46px;
        width: 100%;
        // padding: 0 46px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .order-deliveryInfo-address-card-info-container {
          display: flex;
          justify-content: center;
          align-items: center;
          .order-deliveryInfo-address-card-info-radio {
            margin-right: 10px;
          }
          .order-deliveryInfo-address-card-info {
            h4,
            p {
              font-size: 16px;
              font-style: normal;
            }
            h4 {
              color: $color-tertiary;
            }
            address {
              margin: 8px 0;
              color: $color-tertiary;
              & + h4 {
                color: $color-quaternary;
                font-weight: normal;
              }
            }
          }
        }
        .order-deliveryInfo-address-card-options {
          display: flex;

          button {
            margin-left: 8px;
            border: none;
            width: 101px;
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            background-color: $color-senary;
            color: $color-primary;
            transition: 0.3s ease-in all;
            h4 {
              font-size: 12px;
              text-transform: uppercase;
              margin: 0;
              line-height: 16px;
            }
            i {
              font-size: 14px;
              margin-right: 5px;
              line-height: 16px;
            }
            &:hover {
              background-color: $color-primary;
              color: $color-quinary;
            }
          }
        }
      }
    }
    // Address edit container
    .order-deliveryInfo-addresses_edit-container {
      width: 857px;
      // height: 200px;
      display: none;
      flex-direction: column;
      gap: 10px;
      .order-deliveryInfo-addresses_edit-header {
        display: flex;
        flex-direction: column;
        padding: 29px;
        background-color: $color-quinary;
        // height: 106px;
        gap: 16px;
        h3 {
          font-size: 17px;
          margin: 0;
          text-transform: uppercase;
          color: $color-primary;
        }
        .order-deliveryInfo-addresses_edit-from-radioButtons-container {
          display: flex;
          gap: 16px;
          // padding-bottom: 14.5px;
          // border-bottom: 1px solid $color-primary;
          .order-deliveryInfo-addresses_edit-from-radioButton-container {
            // background-color: $color-denary;
            background-color: $color-septenary;
            // color: $color-quinary;
            color: $color-primary;
            display: flex;
            align-items: center;
            width: calc(50% - 8px);
            height: 48px;

            h4 {
              font-size: 12px;
              margin: 0;
              height: 16px;
            }
            label {
              display: flex;
              padding: 15px 24px 17px;
              width: 100%;
              height: 100%;
              transition: $animation-basic-primary;
              &:hover {
                cursor: pointer;
                background-color: $color-denary;
                color: $color-quinary;
              }
              input {
                margin-right: 8px;
              }
              &.checked {
                background-color: $color-denary;
                color: $color-quinary;
              }
            }
          }
        }
      }
      .order-deliveryInfo-addresses_edit-from-container {
        background-color: $color-quinary;
        padding: 29px;
        display: flex;
        flex-direction: column;
        gap: 16px;

        .order-deliveryInfo-addresses_edit-from-fields-container {
          display: flex;
          flex-direction: column;
          gap: 16px;

          #addressEditTypeBusiness {
            display: none;
          }
          .order-deliveryInfo-addresses_edit-from-field-container {
            display: flex;
            gap: 16px;
            .order-deliveryInfo-addresses_edit-from-field-name {
              background-color: $color-denary;
              color: $color-quinary;
              display: flex;
              justify-content: flex-end;
              align-items: center;
              width: 360px;
              height: 48px;
              padding: 15px 24px 17px;

              h4 {
                font-size: 12px;
                margin: 0;
                height: 16px;
              }
            }

            .order-deliveryInfo-addresses_edit-from-field-info {
              width: 512px;
              min-height: 48px;

              input {
                width: 100%;
                height: 100%;
                padding: 15px 24px 17px;
                background-color: $color-septenary;
                color: $color-primary;
                border: none;
                outline: none;

                font-size: 12px;
                margin: 0;
                line-height: 16px;
              }
              select {
                padding: 15px 24px 17px;
                width: 100%;
                height: 100%;
                background-color: $color-septenary;
                color: $color-primary;
                border: none;
                outline: none;

                font-size: 12px;
                margin: 0;
                line-height: 16px;
              }
            }
          }
        }
        .order-deliveryInfo-addresses_edit-from-buttons-container {
          display: flex;
          justify-content: flex-end;
          gap: 16px;
          button {
            // margin-left: 8px;
            border: none;
            // border: 1px solid $color-primary;
            width: 101px;
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            background-color: $color-senary;
            color: $color-primary;
            transition: 0.3s ease-in all;
            &.order-deliveryInfo-addresses_edit-from-button-cancel {
              background-color: $color-septenary;
              color: $color-primary;
            }
            h4 {
              font-size: 12px;
              text-transform: uppercase;
              margin: 0;
              line-height: 16px;
            }
            i {
              font-size: 14px;
              margin-right: 5px;
              line-height: 16px;
            }
            &:hover {
              background-color: $color-primary;
              color: $color-quinary;
            }
          }
        }
      }
    }
    .order-payments-container {
      // background-color: $color-quinary;
      width: 857px;
      height: fit-content;
      display: none;
      flex-direction: column;
      gap: 10px;
      // padding: 29px 0;

      // Address add container
      .order-payment-add {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 29px;
        background-color: $color-quinary;
        // padding: 0 29px;
        h3 {
          font-size: 17px;
          margin: 0;
          text-transform: uppercase;
          color: $color-primary;
        }
        button {
          height: 48px;
          width: 210px;
          border: none;
          outline: none;
          color: $color-primary;
          background-color: $color-senary;
          transition: 0.3s ease-in all;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          h4 {
            font-size: 12px;
            text-transform: uppercase;
            line-height: 16px;
          }
          i {
            font-size: 14px;
            margin-right: 5px;
            line-height: 16px;
          }
          &:hover {
            background-color: $color-primary;
            color: $color-quinary;
          }
        }
      }
      // Address info and choice
      .order-payment-card-container {
        cursor: pointer;
        background-color: $color-quinary;
        padding: 29px 46px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: $animation-basic-primary;
        &.checked {
          background-color: $color-septenary;

          .order-payment-card-info-icons {
            opacity: 1 !important;
          }
          .order-payment-card-options {
            display: initial;
          }
        }
        .order-payment-card-info-container {
          display: flex;
          justify-content: center;
          align-items: center;
          .order-payment-card-info-radio {
            margin-right: 10px;
          }
          .order-payment-card-info {
            h4 {
              font-size: 14px;
              font-weight: normal;
              font-style: normal;
              color: $color-primary;
              margin-bottom: 2px;
            }
            .order-payment-card-info-icons {
              display: flex;
              // justify-content: center;
              align-items: center;
              transition: $animation-basic-primary;
              opacity: 0.7;
              img {
                height: 20px;
                margin-right: 8px;
                &.fnb-logo {
                  height: 12px;
                }
                &:hover {
                  cursor: pointer;
                }
              }
            }
          }
        }
        .order-payment-card-options {
          display: none;
          button {
            background-color: transparent;
            &:hover {
              cursor: pointer;
            }
            i {
              font-size: 16px;
              color: $color-tertiary;
              transition: $animation-basic-primary;
              &:hover {
                color: $color-senary;
              }
            }
          }
        }
      }
    }

    .order-payment-options-container {
      width: 857px;
      // height: 200px;
      display: none;
      flex-direction: column;
      gap: 10px;
      .order-payment-options-header {
        display: flex;
        flex-direction: column;
        padding: 29px;
        background-color: $color-quinary;
        // height: 106px;
        gap: 16px;
        h3 {
          font-size: 17px;
          margin: 0;
          text-transform: uppercase;
          color: $color-primary;
        }
        .order-payment-options-from-radioButtons-container {
          display: flex;
          gap: 16px;
        }
      }
      .order-payment-options-from-container {
        background-color: $color-quinary;
        padding: 29px;
        display: flex;
        flex-direction: column;
        gap: 16px;

        .order-payment-options-from-fields-container {
          display: flex;
          flex-direction: column;
          gap: 16px;

          .order-payment-options-from-field-container {
            display: flex;
            gap: 16px;
            .order-payment-options-from-field-name {
              background-color: $color-denary;
              color: $color-quinary;
              display: flex;
              justify-content: flex-end;
              align-items: center;
              width: 360px;
              height: 48px;
              padding: 15px 24px 17px;

              h4 {
                font-size: 12px;
                margin: 0;
                height: 16px;
              }
            }

            .order-payment-options-from-field-info {
              width: 512px;
              min-height: 48px;

              input {
                width: 100%;
                height: 100%;
                padding: 15px 24px 17px;
                background-color: $color-septenary;
                color: $color-primary;
                border: none;
                outline: none;

                font-size: 12px;
                margin: 0;
                line-height: 16px;
              }
              select {
                padding: 15px 24px 17px;
                width: 100%;
                height: 100%;
                background-color: $color-septenary;
                color: $color-primary;
                border: none;
                outline: none;

                font-size: 12px;
                margin: 0;
                line-height: 16px;
              }
            }
          }
        }
        .order-payment-options-from-buttons-container {
          display: flex;
          justify-content: flex-end;
          gap: 16px;
          button {
            border: none;
            min-width: 101px;
            height: 48px;
            padding: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            background-color: $color-senary;
            color: $color-primary;
            transition: 0.3s ease-in all;
            &.order-payment-options-from-button-cancel {
              background-color: $color-septenary;
              color: $color-primary;
            }
            h4 {
              font-size: 12px;
              text-transform: uppercase;
              margin: 0;
              line-height: 16px;
            }
            i {
              font-size: 14px;
              margin-right: 5px;
              line-height: 16px;
            }
            &:hover {
              background-color: $color-primary;
              color: $color-quinary;
            }
          }
        }
      }
    }

    .order-deliveryInfo-summary-container {
      width: 470px;
      height: fit-content;
      background-color: $color-tertiary;
      color: $color-quinary;
      padding: 81px 64px 64px;

      .order-deliveryInfo-summary-header {
        height: 44px;
        margin-bottom: 16px;

        h2 {
          font-size: 18px;
          line-height: 24px;
          font-weight: bold;
          text-transform: uppercase;
          margin: 0;
        }
      }

      .order-deliveryInfo-summary-subTotal-container {
        height: 75px;
        border-bottom: 1px solid $color-senary;
        padding-bottom: 16px;
        margin-bottom: 16px;

        .order-deliveryInfo-summary-subTotal {
          display: flex;
          justify-content: space-between;
          padding-bottom: 10px;

          h3 {
            font-size: 10px;
            font-weight: 300;
            text-transform: uppercase;
            margin: 0;
            line-height: 13px;
          }
        }
      }

      .order-deliveryInfo-summary-total {
        display: flex;
        justify-content: space-between;
        margin-bottom: 63px;

        h3 {
          text-transform: uppercase;
          font-size: 18px;
          line-height: 24px;
          margin: 0;
        }
      }

      .order-deliveryInfo-summary-buttons {
        button {
          width: 100%;
          height: 48px;
          border: 1px solid $color-primary;
          outline: none;
          padding: 15px 0 17px;
          color: $color-primary;

          h3 {
            font-weight: bold;
            font-size: 12px;
            line-height: 16px;
            margin: 0;
            text-transform: uppercase;
          }
        }

        .order-deliveryInfo-summary-button-confirm {
          background-color: $color-senary;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 8px;

          i {
            font-size: 14px;
            margin-right: 13px;
          }

          &:hover {
            cursor: pointer;
          }
        }

        .order-deliveryInfo-summary-button-quote {
          background-color: $color-quinary;
        }
      }
    }
  }
}
// Delivery address component container
.delivery-addressEdit-container {
  max-width: 1340px;
  margin: auto;
  min-height: 100vh;
  // Title- header
  .delivery-addressEdit-header-container {
    // Main header
    .delivery-addressEdit-header-title {
      background-color: $color-senary;
      margin-top: 112px;
      height: 96px;
      display: flex;
      justify-content: center;
      align-items: center;

      h1 {
        color: $color-primary;
        font-size: 32px;
        font-weight: bold;
        line-height: 43px;
        text-transform: uppercase;
        margin: 0;
        padding: 25px 0 28px;
      }
    }
    // Breadcrums and back button
    .delivery-addressEdit-header-breadcrums-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      // Breadcrums
      .delivery-addressEdit-header-breadcrums {
        display: flex;
        margin: 14px 0 16px;
        h3 {
          color: $color-quaternary;
          font-size: 12px;
          line-height: 16px;
          margin-right: 8px;
          font-weight: normal;
          &.currentPage {
            color: $color-quinary;
            cursor: pointer;
          }
        }
      }
      .delivery-addressEdit-header-breadcrums-button {
        button {
          // height: 48px;
          // width: 101px;
          border: none;
          outline: none;
          color: $color-quinary;
          // background-color: $color-tertiary;
          background-color: transparent;
          transition: $animation-basic-primary;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          h4 {
            font-size: 12px;
            // text-transform: uppercase;
            line-height: 16px;
            font-weight: normal;
          }
          i {
            font-size: 12px;
            margin-right: 5px;
            line-height: 16px;
          }
          &:hover {
            color: $color-quaternary;
          }
        }
      }
    }
  }
  // New addresses and summary container
  .delivery-addressEdit-body-container {
    display: flex;
    gap: 13px;

    .delivery-addressEdit-body-info-container {
      width: 857px;
      display: flex;
      flex-direction: column;
      gap: 15px;
      .delivery-addressEdit-new-header-container {
        background-color: $color-quinary;
        padding: 29px;
        h2 {
          font-size: 17px;
          margin: 0;
          text-transform: uppercase;
          color: $color-primary;
          margin-bottom: 15px;
        }
        .delivery-addressEdit-types {
          display: flex;
          min-height: 48px;
          gap: 16px;

          .delivery-addressEdit-type {
            width: 420.5px;
            background-color: $color-septenary;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }

      .delivery-addressEdit-new-container {
        width: 857px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 29px;
        background-color: $color-quinary;

        .delivery-addressEdit-new-address-container {
          display: flex;
          flex-direction: column;
          gap: 16px;

          .delivery-addressEdit-new-address {
            display: flex;
            gap: 16px;
            .delivery-addressEdit-new-address-name {
              background-color: $color-denary;
              color: $color-quinary;
              display: flex;
              justify-content: flex-end;
              align-items: center;
              width: 360px;
              height: 48px;
              padding: 15px 24px 17px;

              h4 {
                font-size: 12px;
                margin: 0;
                height: 16px;
              }
            }
            .delivery-addressEdit-new-address-info {
              width: 512px;
              min-height: 48px;
              background-color: $color-septenary;
              color: $color-primary;

              h4 {
                font-size: 12px;
                margin: 0;
                height: 16px;
              }
              input {
                border: none;
                background-color: $color-septenary;
                height: 100%;
                width: 100%;
                outline: none;
                font-size: 12px;
                padding-left: 27px;
              }
              select {
                border: none;
                background-color: $color-septenary;
                height: 100%;
                width: 100%;
                outline: none;
                font-size: 12px;
                padding-left: 27px;
              }
            }
          }
        }
      }

      .delivery-addressEdit-new-address-button {
        display: flex;
        justify-content: end;
        gap: 5px;

        .delivery-addressEdit-new-address-button-cancel {
          button {
            border: none;
            width: 101px;
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            background-color: $color-septenary;
            color: $color-primary;
            transition: 0.3s ease-in all;
            &:hover {
              background-color: $color-primary;
              color: $color-quinary;
            }
            i {
              padding-right: 5px;
            }
          }
        }

        .delivery-addressEdit-new-address-button-save {
          button {
            border: none;
            width: 101px;
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            background-color: $color-senary;
            color: $color-primary;
            transition: 0.3s ease-in all;
            &:hover {
              background-color: $color-primary;
              color: $color-quinary;
            }
            i {
              padding-right: 5px;
            }
          }
        }
      }
    }
    .order-deliveryInfo-summary-container {
      width: 470px;
      height: fit-content;
      background-color: $color-tertiary;
      color: $color-quinary;
      padding: 81px 64px 64px;

      .order-deliveryInfo-summary-header {
        height: 44px;
        margin-bottom: 16px;

        h2 {
          font-size: 18px;
          line-height: 24px;
          font-weight: bold;
          text-transform: uppercase;
          margin: 0;
        }
      }

      .order-deliveryInfo-summary-subTotal-container {
        height: 75px;
        border-bottom: 1px solid $color-senary;
        padding-bottom: 16px;
        margin-bottom: 16px;

        .order-deliveryInfo-summary-subTotal {
          display: flex;
          justify-content: space-between;
          padding-bottom: 10px;

          h3 {
            font-size: 10px;
            font-weight: 300;
            text-transform: uppercase;
            margin: 0;
            line-height: 13px;
          }
        }
      }

      .order-deliveryInfo-summary-total {
        display: flex;
        justify-content: space-between;
        margin-bottom: 63px;

        h3 {
          text-transform: uppercase;
          font-size: 18px;
          line-height: 24px;
          margin: 0;
        }
      }

      .order-deliveryInfo-summary-buttons {
        button {
          width: 100%;
          height: 48px;
          border: 1px solid $color-primary;
          outline: none;
          padding: 15px 0 17px;
          color: $color-primary;

          h3 {
            font-weight: bold;
            font-size: 12px;
            line-height: 16px;
            margin: 0;
            text-transform: uppercase;
          }
        }

        .order-deliveryInfo-summary-button-confirm {
          background-color: $color-senary;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 8px;

          i {
            font-size: 14px;
            margin-right: 13px;
          }
        }

        .order-deliveryInfo-summary-button-quote {
          background-color: $color-quinary;
        }
      }
    }
  }
}

.order-payment-container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .order-payment-summary-container {
    width: 470px;
    height: fit-content;
    background-color: $color-tertiary;
    color: $color-quinary;
    padding: 81px 64px 64px;

    .order-payment-summary-header {
      height: 44px;
      margin-bottom: 16px;

      h2 {
        font-size: 18px;
        line-height: 24px;
        font-weight: bold;
        text-transform: uppercase;
        margin: 0;
      }
    }

    .order-payment-summary-subTotal-container {
      height: 75px;
      border-bottom: 1px solid $color-senary;
      padding-bottom: 16px;
      margin-bottom: 16px;

      .order-payment-summary-subTotal {
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;

        h3 {
          font-size: 10px;
          font-weight: 300;
          text-transform: uppercase;
          margin: 0;
          line-height: 13px;
        }
      }
    }

    .order-payment-summary-total {
      display: flex;
      justify-content: space-between;
      margin-bottom: 63px;

      h3 {
        text-transform: uppercase;
        font-size: 18px;
        line-height: 24px;
        margin: 0;
      }
    }

    .order-payment-summary-buttons {
      button {
        width: 100%;
        height: 48px;
        border: 1px solid $color-primary;
        outline: none;
        padding: 15px 0 17px;
        color: $color-primary;

        h3 {
          font-weight: bold;
          font-size: 12px;
          line-height: 16px;
          margin: 0;
          text-transform: uppercase;
        }
      }

      .order-payment-summary-button-confirm {
        background-color: $color-senary;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;

        i {
          font-size: 14px;
          margin-right: 13px;
        }

        &:hover {
          cursor: pointer;
        }
      }

      .order-payment-summary-button-quote {
        background-color: $color-quinary;
      }
    }
  }
  .order-payment-review-container {
    &.force-show {
      display: initial !important;
    }
    display: none;
    width: 470px;
    height: fit-content;
    background-color: $color-tertiary;
    color: $color-septenary;
    padding: 81px 64px 64px;
    .order-payment-review-header-container {
      h2 {
        font-size: 18px;
        line-height: 24px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 36px;
        color: $color-quinary;
      }
      h3 {
        font-size: 12px;
        text-transform: uppercase;
        line-height: 23px;
        color: $color-quinary;
        &.normal-font {
          font-size: 10px;
          font-weight: normal;
          padding-bottom: 16px;
          margin-bottom: 16px;
          border-bottom: 1px solid #fcdb10;
          color: $color-septenary;
        }
      }
    }
    .order-payment-review-body-container {
      h2 {
        font-size: 12px;
        text-transform: uppercase;
        line-height: 23px;
        color: $color-quinary;
      }
      h4,
      p {
        text-transform: uppercase;
        line-height: 23px;
        font-style: normal;

        font-size: 10px;
        font-weight: normal;
      }
      address p {
        line-height: 14px;
      }
      address + h4 {
        padding-bottom: 16px;
        margin-bottom: 16px;
        border-bottom: 1px solid #fcdb10;
      }
      h4 + h4 {
        font-weight: bold;
        color: $color-quaternary;
      }
    }
    .order-payment-review-footer-container {
      h2 {
        font-size: 12px;
        text-transform: uppercase;
        line-height: 23px;
        color: $color-quinary;
      }
      h3 {
        text-transform: uppercase;
        line-height: 23px;
        font-size: 10px;
        font-weight: normal;
      }
    }
  }
}
// About page styling
.about-container {
}
