<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles.css" />
    <title>Title</title>
    <style>
      /*
        NOTE: 
        Only for you to see it better. Not an intended style. 
      */
    </style>
  </head>
  <body>
    <!-- Breadcrumbs component -->
    <!-- Container that holds breadcrums and possibly a button -->
    <div
      class="breadcrumbs-container breadcrumbs-primary flex flex-between-center"
    >
      <!-- Breadcrums container -->
      <div class="breadcrumbs-title-container flex">
        <h3>Title</h3>
        <h3>/</h3>
        <h3>Title</h3>
        <h3>/</h3>
        <h3>Title</h3>
      </div>
      <!-- Breadcrums button -->
      <div class="breadcrumbs-button">
        <button class="button default-btn button-quaternary flex flex-center">
          <i class="fas fa-shopping-cart"></i>
          <h3>iAmDefaultButton</h3>
        </button>
      </div>
    </div>
  </body>
  <script
    src="https://kit.fontawesome.com/23a0b1c1e7.js"
    crossorigin="anonymous"
  ></script>
  <script src="../index.js"></script>
</html>
