<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles.css" />
    <title>Button</title>
    <style>
      /*
        NOTE: 
        Only for you to see it better. Not an intended style. 
      */
      button,
      label {
        margin: 10px;
        background-color: seagreen;
      }
    </style>
  </head>
  <body>
    <!-- 
    
      This is the button that is used accross the pages
    
    -->
    <!-- Default Button -->
    <button class="button flex flex-center">
      <h3>iAmButton</h3>
    </button>

    <!-- Button with border -->
    <button class="button flex flex-center button-border-primary">
      <h3>iAmButton</h3>
    </button>

    <!-- Buttons with icon and text-->
    <button class="button flex flex-center">
      <i class="fas fa-shopping-cart"></i>
      <h3>iAmButton</h3>
    </button>
    <!-- Buttons with icon-->
    <button class="button button-sm flex flex-center">
      <i class="fas fa-shopping-cart"></i>
    </button>

    <!-- Button primary color -->
    <button class="button flex flex-center button-primary">
      <h3>iAmButton</h3>
    </button>

    <!-- Button secondary color -->
    <button class="button flex flex-center button-secondary">
      <h3>iAmButton</h3>
    </button>

    <!-- Button tertiary color -->
    <button class="button flex flex-center button-tertiary">
      <h3>iAmButton</h3>
    </button>

    <!-- Radio button -->
    <label
      class="button radio-btn radio-btn-primary flex flex-end-center"
      for="inputIDRadioBtn"
    >
      <input type="radio" id="inputIDRadioBtn" name="radioBtnExmapleGroup" />
      <h3>iAmRadioButton</h3>
    </label>
    <!-- 
     Buttons with icon and text but no background and noraml font.
     (Might be used inside of the breadcrumbs)
  -->
    <button class="button default-btn button-quaternary flex flex-center">
      <i class="fas fa-shopping-cart"></i>
      <h3>iAmDefaultButton</h3>
    </button>
  </body>

  <script
    src="https://kit.fontawesome.com/23a0b1c1e7.js"
    crossorigin="anonymous"
  ></script>
  <script src="../index.js"></script>
</html>
