<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles.css" />
    <title>Form</title>
  </head>
  <body>
    <!-- 
        Form component.
        NOTE:
        You need to change the id for the input and reference it in the label
    -->

    <!-- Default form -->
    <div class="form-container flex flex-column">
      <!-- Fields container -->
      <div class="form-fields-container flex flex-column">
        <!-- 
              Text Field container 
            -->
        <div class="form-field-container flex">
          <label
            class="form-label-primary flex flex-end-center"
            for="InputIDText"
          >
            <h3>Label Text</h3>
          </label>
          <input type="text" id="InputIDText" />
        </div>
        <!-- 
              Select Field container 
            -->
        <div class="form-field-container flex">
          <label
            class="form-label-primary flex flex-end-center"
            for="InputIDSelect"
          >
            <h3>Label Select</h3>
          </label>
          <select name="selectExample" id="InputIDSelect">
            <option value="Select option 1">Select option 1</option>
            <option value="Select option 2">Select option 2</option>
            <option value="Select option 3">Select option 3</option>
          </select>
        </div>
        <!-- 
              TextArea Field container 
            -->
        <div class="form-field-container flex">
          <label
            class="form-label-primary flex flex-end-center"
            for="InputIDTextArea"
          >
            <h3>Label Name</h3>
          </label>
          <textarea name="InputIDTextArea" id="InputIDTextArea"></textarea>
        </div>
        <!-- 
              Radio Button container 
            -->
        <div class="form-field-container flex">
          <label
            class="button radio-btn radio-btn-primary flex"
            for="inputIDRadioBtn"
          >
            <input
              type="radio"
              id="inputIDRadioBtn"
              name="radioBtnExmapleGroup"
            />
            <h3>iAmRadioButton</h3>
          </label>
        </div>
      </div>
    </div>
  </body>
  <script
    src="https://kit.fontawesome.com/23a0b1c1e7.js"
    crossorigin="anonymous"
  ></script>
  <script src="../index.js"></script>
</html>
